.elementor-527
  .elementor-element.elementor-element-4092f8540:not(.elementor-motion-effects-element-type-background),
.elementor-527
  .elementor-element.elementor-element-4092f8540
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #060016;
}
.elementor-527
  .elementor-element.elementor-element-4092f8540
  > .elementor-container {
  max-width: 1600px;
}
.elementor-527 .elementor-element.elementor-element-4092f8540 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #3b3b3b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 5;
}
.elementor-527 .elementor-element.elementor-element-4092f8540:hover {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #fec101;
}
.elementor-527
  .elementor-element.elementor-element-4092f8540
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-527
  .elementor-element.elementor-element-aab89a3.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-527
  .elementor-element.elementor-element-aab89a3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-527 .elementor-element.elementor-element-52a0bea {
  text-align: left;
}
.elementor-527 .elementor-element.elementor-element-52a0bea img {
  width: 16%;
}
.elementor-bc-flex-widget
  .elementor-527
  .elementor-element.elementor-element-4798654c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-527
  .elementor-element.elementor-element-4798654c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-527
  .elementor-element.elementor-element-4798654c.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-menu-item.wpr-pointer-item {
  transition-duration: 0.7s;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-menu-item.wpr-pointer-item:before {
  transition-duration: 0.7s;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-menu-item.wpr-pointer-item:after {
  transition-duration: 0.7s;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle-wrap {
  text-align: center;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  > .menu-item-has-children
  > .wpr-sub-icon {
  color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  .wpr-menu-item:hover,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  > .menu-item-has-children:hover
  > .wpr-sub-icon,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  .wpr-menu-item.wpr-active-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  > .menu-item-has-children.current_page_item
  > .wpr-sub-icon {
  color: #fdfffd;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-line-fx
  .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-line-fx
  .wpr-menu-item:after {
  background-color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-border-fx
  .wpr-menu-item:before {
  border-color: #ffffff;
  border-width: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-background-fx
  .wpr-menu-item:before {
  background-color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .menu-item-has-children
  .wpr-sub-icon {
  font-size: 13px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-background:not(.wpr-sub-icon-none)
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(13px + 4px);
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-border:not(.wpr-sub-icon-none)
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(13px + 4px);
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  a,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle-text {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-underline
  .wpr-menu-item:after,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-overline
  .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  .wpr-menu-item:after {
  height: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-underline
  > nav
  > ul
  > li
  > .wpr-menu-item:after,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-overline
  > nav
  > ul
  > li
  > .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  > nav
  > ul
  > li
  > .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  > nav
  > ul
  > li
  > .wpr-menu-item:after {
  height: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-border-fx
  > nav
  > ul
  > li
  > .wpr-menu-item:before {
  border-width: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-underline
  > .elementor-widget-container
  > nav
  > ul
  > li
  > .wpr-menu-item:after,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-overline
  > .elementor-widget-container
  > nav
  > ul
  > li
  > .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  > .elementor-widget-container
  > nav
  > ul
  > li
  > .wpr-menu-item:before,
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-double-line
  > .elementor-widget-container
  > nav
  > ul
  > li
  > .wpr-menu-item:after {
  height: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-border-fx
  > .elementor-widget-container
  > nav
  > ul
  > li
  > .wpr-menu-item:before {
  border-width: 1px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9:not(.wpr-pointer-border-fx)
  .wpr-menu-item.wpr-pointer-item:before {
  transform: translateY(-0px);
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9:not(.wpr-pointer-border-fx)
  .wpr-menu-item.wpr-pointer-item:after {
  transform: translateY(0px);
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  .wpr-menu-item {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-background:not(.wpr-sub-icon-none)
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -4px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-pointer-border:not(.wpr-sub-icon-none)
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -4px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu
  > .menu-item {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-left: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-main-menu-align-left
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  right: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  left: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-icon {
  color: #333333;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item {
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-menu-item:hover
  .wpr-sub-icon,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  > .menu-item-has-children.current_page_item
  .wpr-sub-icon {
  color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item {
  background-color: #605be5;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-sub-menu
  .wpr-sub-icon {
  right: 15px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-sub-menu
  .wpr-sub-icon {
  left: 15px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-nav-menu-horizontal
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-top: 0px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9.wpr-sub-divider-yes
  .wpr-sub-menu
  li:not(:last-child) {
  border-bottom-color: #e8e8e8;
  border-bottom-width: 1px;
}
.elementor-527 .elementor-element.elementor-element-1503d8b9 .wpr-sub-menu {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e8e8e8;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  a,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  color: #333333;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  li {
  background-color: #ffffffe8;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  li
  a:hover,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:hover:after,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  li
  a.wpr-active-menu-item,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .menu-item-has-children.current_page_item
  > a:hover:after {
  color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  a:hover,
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  a.wpr-active-menu-item {
  background-color: #6faa7a;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  a {
  padding-left: 10px;
  padding-right: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .wpr-mobile-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu
  .wpr-mobile-sub-menu-item {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-nav-menu {
  margin-top: 10px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle {
  border-color: #ffffff;
  width: 30px;
  padding: 0px 0px 0px 0px;
  border-width: 0px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle-text {
  color: #ffffff;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle-line {
  background-color: #ffffff;
  height: 2px;
  margin-bottom: 4px;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle:hover {
  border-color: #6faa7a;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-text {
  color: #6faa7a;
}
.elementor-527
  .elementor-element.elementor-element-1503d8b9
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-line {
  background-color: #6faa7a;
}
.elementor-bc-flex-widget
  .elementor-527
  .elementor-element.elementor-element-19eae3a1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-527
  .elementor-element.elementor-element-19eae3a1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-527 .elementor-element.elementor-element-3c44623 {
  --grid-template-columns: repeat(0, auto);
  text-align: center;
  --icon-size: 20px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-527
  .elementor-element.elementor-element-3c44623
  .elementor-social-icon {
  background-color: #02010100;
}
.elementor-527
  .elementor-element.elementor-element-3c44623
  .elementor-social-icon
  i {
  color: #e9e9e9;
}
.elementor-527
  .elementor-element.elementor-element-3c44623
  .elementor-social-icon
  svg {
  fill: #e9e9e9;
}
.elementor-bc-flex-widget
  .elementor-527
  .elementor-element.elementor-element-7a0ee18.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-527
  .elementor-element.elementor-element-7a0ee18.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-527 .elementor-element.elementor-element-eb70e55 .elementor-button {
  background-color: transparent;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  fill: #020202;
  color: #020202;
  background-image: linear-gradient(180deg, #f1cd56 0%, #ce9e00 100%);
  border-radius: 5px 5px 5px 5px;
}
body.elementor-page-527:not(.elementor-motion-effects-element-type-background),
body.elementor-page-527
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #131313;
}
@media (min-width: 768px) {
  .elementor-527 .elementor-element.elementor-element-4798654c {
    width: 55.165%;
  }
  .elementor-527 .elementor-element.elementor-element-19eae3a1 {
    width: 8.011%;
  }
  .elementor-527 .elementor-element.elementor-element-7a0ee18 {
    width: 11.807%;
  }
}
@media (max-width: 1024px) {
  .elementor-527 .elementor-element.elementor-element-4092f8540 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-527
    .elementor-element.elementor-element-1503d8b9
    .wpr-nav-menu
    .wpr-menu-item,
  .elementor-527
    .elementor-element.elementor-element-1503d8b9
    .wpr-mobile-nav-menu
    a,
  .elementor-527
    .elementor-element.elementor-element-1503d8b9
    .wpr-mobile-toggle-text {
    font-size: 13px;
  }
  .elementor-527
    .elementor-element.elementor-element-1503d8b9
    .wpr-nav-menu
    .wpr-menu-item {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .elementor-527
    .elementor-element.elementor-element-1503d8b9.wpr-pointer-background:not(.wpr-sub-icon-none)
    .wpr-nav-menu-vertical
    .menu-item-has-children
    .wpr-sub-icon {
    text-indent: -4px;
  }
  .elementor-527
    .elementor-element.elementor-element-1503d8b9.wpr-pointer-border:not(.wpr-sub-icon-none)
    .wpr-nav-menu-vertical
    .menu-item-has-children
    .wpr-sub-icon {
    text-indent: -4px;
  }
}
@media (max-width: 767px) {
  .elementor-527 .elementor-element.elementor-element-4092f8540 {
    padding: 0px 010px 0px 10px;
  }
  .elementor-527 .elementor-element.elementor-element-aab89a3 {
    width: 30%;
  }
  .elementor-bc-flex-widget
    .elementor-527
    .elementor-element.elementor-element-aab89a3.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-527
    .elementor-element.elementor-element-aab89a3.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-527
    .elementor-element.elementor-element-aab89a3.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-527
    .elementor-element.elementor-element-aab89a3
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-527 .elementor-element.elementor-element-52a0bea img {
    width: 36%;
  }
  .elementor-527 .elementor-element.elementor-element-4798654c {
    width: 50%;
  }
  .elementor-527
    .elementor-element.elementor-element-1503d8b9
    .wpr-mobile-toggle-wrap {
    text-align: right;
  }
  .elementor-527 .elementor-element.elementor-element-19eae3a1 {
    width: 70%;
  }
  .elementor-527 .elementor-element.elementor-element-3c44623 {
    text-align: right;
    --icon-size: 16px;
  }
}
